AI_ASSISTANT_INPUT_DEVICE_INDEX=
AI_ASSISTANT_VOSK_MODEL_PATH=models/vosk-model-small-ru-0.22
SUPERTONIC_MODEL_DIR=supertonic-3-model
SUPERTONIC_VOICE=F1
SUPERTONIC_LANG=ru
SUPERTONIC_STEPS=8
SUPERTONIC_SPEED=1.0
